{% extends "base.html" %}
{% block title %}
Admin View
{%endblock%}
{% block nav_right %}
<ul class="nav navbar-nav pull-right">
	<li>
		{% if user.is_authenticated %}
			<a>{{user}}</a>
		{% else %}
			<a>Admin</a>
		{% endif %}
		
	</li>
</ul>
{% endblock %}

{% block menu_block %}
<style type="text/css">
ul li a input{
	width:100%;
}

.ticket_number{
cursor:pointer;text-decoration:underline;
}

</style>
<div class="navs">
<ul class="nav">
<li><a><input type="button" class="btn" value="Dashboard"></a></li>
<li><a><input type="button" class="btn" value="Tickets"></a></li>
<li><a><input type="button" class="btn" value="Documents"></a></li>
<li><a><input type="button" class="btn" value="Assets"></a></li>
<li><a><input type="button" class="btn" value="Training"></a></li>
<li><a><input type="button" class="btn" value="Administration"></a></li>
<li><a href="/logout/"><input type="button" class="btn" value="Logout"></a></li>
</ul>
</div>

{% endblock %}


{% block content %}
<div id="load_view">
	<div id="Training" class="tview"  style="width:90%;margin-left:auto;margin-right:auto;display: none">
	<h2>Computers in School</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/prFHhIUr2yU" frameborder="0" allowfullscreen></iframe>
	<h2>Computer Basics</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/oin9QoJb9WU" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="Documents" class="tview"  style="width:90%;margin-left:auto;margin-right:auto;display: none">
		<h2>Download Documents</h2>
		<div class="border" style="margin-top:5%;width:60%;margin-left:10%">
			<h4>DEPARTMENT OF SCHOOL EDUCATION, ANDHRA PRADESH ...</h4>
			<a href='http://rmsaap.nic.in/Notification_TSG_2015.pdf' target='_blank'> Download</a>
		</div>
		<div class="border" style="margin-top:5%;width:60%;margin-left:10%">
			<h4>GOVERNMENT OF ANDHRA PRADESH DEPARTMENT OF SCHOOL ..</h4>
			<a href='http://mhrd.gov.in/sites/upload_files/mhrd/files/minutes/AP-Annexure-1%20.pdf'> Download</a>
		</div>
	</div>
	<div id="Dashboard" class="tview">
	<h2>Dashboard</h2>
		<div style="float:left;width:60%;">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">All Devices</h3>
				</div>
				<div class="panel-body">
					{% for incident in device_meta %}
					<div class="media border" style="padding:3%;box-shadow:2px 3px 1px #A0A0A0;">
						  <div class="media-left">
						  <span class="glyphicon glyphicon-eye-open"></span>
						    <a href="#">
						      Assets
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">{{incident.district}}</h4>
						    <p>
						    	<span class="glyphicon glyphicon-ok-sign"  style="color:#5CB85C"></span> <span class="badge">{{incident.ok}}</span>
						    	<span class="glyphicon glyphicon-remove-sign" style="margin-left:5%;color:rgb(217, 83, 79)"></span> <span class="badge">{{incident.danger}}</span>
						  	</p>
						  </div>
						</div>
						
					{% endfor %}
				</div>
			</div>
		</div>
		<div style="float:left;width:35%;margin-left:1%;">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Employees</h3>
				</div>
				<div class="panel-body">
					<table class="table">
					{% for incident in employee_incidents %}
						<tr>
							<td>{{incident.employee}}</td>
							<td>{{incident.district}}</td>
							<td>{{incident.count}}</td>
						</tr>
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="Assets" class="tview" style="display:none;width:80%;margin-left:auto;margin-right:auto;">
		{% for district in all_devices %}
			<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Assets in {{district.district}}</h3>
					</div>
					<div class="panel-body">
						<table class="table">
						{% for device in district.devices %}
							<tr>
								{% if device.status == "ok" %}
								<td><span class="glyphicon glyphicon-ok-sign"  style="color:#5CB85C"></span></td>
								{% else %}
								<td><span class="glyphicon glyphicon-remove-sign"  style="color:rgb(217, 83, 79)"></span></td>
								{% endif %}
								<td>{{device.id}}</td>
								<td>{{device.device_name}}</td>
								<td>{{device.school.mandal.mandal_name}}</td>
								<td>{{device.school.school_name}}</td>
							</tr>
						{% endfor %}
						</table>
					</div>
				</div>
		{% endfor %}
	</div>
	<div id="Tickets" class="tview" style="display:none;width:95%;margin-left:auto;margin-right:auto;">
		<h2>All Incidents</h2>
		<div style="float:left;width:50%;">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Working Incidents</h3>
				</div>
				<div class="panel-body">
					{% for incident in incidents %}
					<div class="media border" style="padding:3%;box-shadow:2px 3px 1px #A0A0A0;">
						  <div class="media-left">
						  <span class="glyphicon glyphicon-eye-open"></span>
						    <a href="#">
						      {{incident.device.device_name}}
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">{{incident.title}}</h4>
						    <p><span class="label label-warning">{{incident.status}}</span>
						  	{{incident.device.school.mandal.mandal_name}},
						  	{{incident.device.school.mandal.district_name}}
						  	</p>
						  	<span class="pull-right">{{incident.creater}}</span>
						  </div>
						</div>
						
					{% endfor %}
				</div>
			</div>
		</div>
		<div style="float:left;width:45%;margin-left:1%;">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Open Tickets</h3>
				</div>
				<div class="panel-body">
					<table class="table">
					{% for incident in open_in %}
						<tr>
							<td class="ticket_number">{{incident.id}}</td>
							<td>{{incident.title}}</td>
							
							<td>{{incident.device.school.mandal.district_name}}</td>
						</tr>
						<tr id="in{{incident.id}}" style="display:none;padding:2%" class="border">
									<td colspan=3>
										<div id="in{{incident.id}}_div">
											<p><strong>{{incident.title}}</strong></p>
											<p>{{incident.description}}</p>
										</div>
									</td>
								</tr>
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
		<div style="float:left;width:45%;margin-left:1%;">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Resolved Tickets</h3>
				</div>
				<div class="panel-body">
					<table class="table">
					{% for incident in resolved_in %}
						<tr>
							<td class="ticket_number">{{incident.id}}</td>
							<td>{{incident.title}}</td>
							
							<td>{{incident.device.school.mandal.district_name}}</td>
						</tr>
						<tr id="in{{incident.id}}" style="display:none;padding:2%" class="border">
									<td colspan=3>
										<div id="in{{incident.id}}_div">
											<p><strong>{{incident.title}}</strong></p>
											<p>{{incident.description}}</p>
										</div>
									</td>
								</tr>
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="Administration" class="tview" style="display:none;width:90%;margin-left:auto;margin-right:auto;">
		<h2>Administration</h2>
		<div style="width:65%;margin-left:1%;">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Add New School</h3>
				</div>
				<div class="panel-body">
					<form method="post" action="as" id="add_school_form">{% csrf_token %}
					<table class="table">
						{{form.as_table}}
						<tr>
							<td><input name="add_school" type="hidden" value="1"></td>
							<td><input type="submit" value="Add" class="btn btn-primary"></td>
						</tr>
						<tr>
							<td colspan=2  id="load_here1"></td>
						</tr>
					</table>
					</form>
				</div>
			</div>
		</div>
		<div style="width:60%;margin-left:1%;">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Add Employee/Teacher/Device</h3>
				</div>
				<div class="panel-body">
					<form action="admin_view" method="post" id="add_t">{% csrf_token %}
					<table class="table">
						<tr>
							<td>New</td>
							<td>
								<select name="adding" id="adding">
									<option>Employee</option>
									<option>Teacher</option>
									<option>Device</option>
								</select>
							</td>
						</tr>
						<tr class="up">
							<td>Username</td>
							<td><input type="text" name="username"></td>
						</tr>
						<tr class="up">
							<td>Password</td>
							<td><input type="text" name="password"></td>
						</tr>
						<tr id="device" style='display:none'>
							<td>Device Name</td>
							<td><input type="text" name="device"></td>
						</tr>
						<tr>
							<td>Districts</td>
							<td>
							<select id="districts" name="district" required>
								<option>Select</option>
								{% for dist in districts%}
									<option class="{{dist}}">{{dist}}</option>
								{% endfor %}
							</select>
							</td>
						</tr>
						<tr id="mandals_tr" style="display:none">
							<td>Mandals</td>
							<td>
							<select id="mandals" name="mandal">
							</select>
							</td>
						</tr>
						<tr id="school_tr" style="display:none">
							<td>Schools</td>
							<td>
							<select id="school" name="school">
							</select>
							</td>
						</tr>
						<tr id="submit_addt" style="display:none">
							<td></td><td><input type="submit" value="Submit" class="btn btn-primary"></td>
						</tr>
						<tr>
							<td colspan=2  id="load_here"></td>
						</tr>
					</table>
				</form>
				</div>
			</div>
		</div>
		
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.navs input').on('click',function(){
	$('.tview').hide();
	$('#'+this.value).toggle();
});
$('#teachers').on('click',function(){
	{% if user.is_authenticated %}
		window.location.href = "/{{request.session.user}}"
	{% else %}
		$.get('/teacher_login?login=1',function(data){
    	$('#load_view').html(data);
    })
	{% endif %}
});
$('#technicians').on('click',function(){
	{% if user.is_authenticated %}
		window.location.href = "/{{request.session.user}}"
	{% else %}
		$.get('/technician_login?login=1',function(data){
    		$('#load_view').html(data);
    	});
	{% endif %}
});
function prop_val(id,list,check){
	$('#'+id+'_tr').show();
	$('#'+id).html('');
	$.each(list,function(k,v){
		if (v.dist == check){
		$('#'+id).append($('<option>', {
    		value: v.id,
    		text: v.text
		}));}
	});
}
$('#adding').on("change",function(){
	if ($('#adding').find('option:selected').val() == "Device"){
		$('.up').hide();
		$('#device').show();}
	else{
		$('.up').show();$('#device').hide();
		$('#mandals_tr').hide();
		$('#school_tr').hide();
	}
});
$("#districts").on("change",function(){
	if($('#adding').find('option:selected').val() == 'Employee'){
		$('#submit_addt').show();
		return 1;
	}
	var mandals = []
	$('#school').html('');
	{% for mandal in mandals %}
		mandals.push({id:{{mandal.id}} ,text:"{{mandal.mandal_name}}",dist:"{{mandal.district_name}}" })
	{% endfor %}
	prop_val('mandals',mandals,$('#districts').find('option:selected').val());
	if ($('#school').find('option:selected').val() != undefined)
		$('#submit_addt').show();
	else
		$('#submit_addt').hide();
	
});
$("#mandals").on("change",function(){
	var schools = []
	{% for school in schools %}
		schools.push({id:{{school.id}} ,text:"{{school.school_name}}/{{school.city_name}}",dist:{{school.mandal.id}} })
	{% endfor %}
	prop_val('school',schools,$('#mandals').find('option:selected').val());
	if ($('#school').find('option:selected').val() != undefined)
		$('#submit_addt').show();
	else
		$('#submit_addt').hide();
});
$('#add_t').submit(function( event ) {
	event.preventDefault();
	$.ajax({
		url: "/admin_view",
		method:'POST',
		data:$(this).serialize(),
		error:$('#load_here').html('Internal Error, Try Again'),
		success:function(data){
			$('#load_here').html(data);
		},
		complete:$('#load_here').html('loading...')
	});
});
$('#add_school_form').submit(function( event ) {
	event.preventDefault();
	$.ajax({
		url: "/admin_view",
		method:'POST',
		data:$(this).serialize(),
		error:$('#load_here1').html('Internal Error, Try Again'),
		success:function(data){
			$('#load_here1').html(data);
		},
		complete:$('#load_here1').html('loading...')
	});
});
$('.ticket_number').on('click',function(){
	$('#in'+this.innerHTML).toggle(1000);
});
</script>
{% endblock %}