{% extends "base.html" %}
{% block title %}Teacher Dashboard {% endblock %}
{% block nav_right %}
<ul class="nav navbar-nav pull-right">
	<li>
		<a>{{user}}</a>
	</li>
</ul>
{% endblock %}
{% block menu_block %}
<style type="text/css">
ul li a input{
	width:100%;

}
.ticket_number{
cursor:pointer;text-decoration:underline;
}
</style>
<div class="navs">
<ul class="nav">
<li><a><input type="button" class="btn" value="Dashboard"></a></li>
<li><a><input type="button" class="btn" value="Tickets"></a></li>
<li><a><input type="button" class="btn" value="Documents"></a></li>
<li><a><input type="button" class="btn" value="Assets"></a></li>
<li><a><input type="button" class="btn" value="Training"></a></li>
<li><a href="/logout/"><input type="button" class="btn" value="Logout"></a></li>
</ul>
</div>
{% endblock %}

{% block content %}
<div id="load_view">
	<div id="Training" class="tview"  style="width:90%;margin-left:auto;margin-right:auto;display: none">
	<h2>Computers in School</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/prFHhIUr2yU" frameborder="0" allowfullscreen></iframe>
	<h2>Computer Basics</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/oin9QoJb9WU" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="Documents" class="tview"  style="width:90%;margin-left:auto;margin-right:auto;display: none">
		<h2>Download Documents</h2>
		<div class="border" style="margin-top:5%;width:60%;margin-left:10%">
			<h4>DEPARTMENT OF SCHOOL EDUCATION, ANDHRA PRADESH ...</h4>
			<a href='http://rmsaap.nic.in/Notification_TSG_2015.pdf' target='_blank'> Download</a>
		</div>
		<div class="border" style="margin-top:5%;width:60%;margin-left:10%">
			<h4>GOVERNMENT OF ANDHRA PRADESH DEPARTMENT OF SCHOOL ..</h4>
			<a href='http://mhrd.gov.in/sites/upload_files/mhrd/files/minutes/AP-Annexure-1%20.pdf'> Download</a>
		</div>
	</div>
	<div id="Dashboard" class="tview" stlye="width:90%;">
	<h2>Dashboard</h2>
			<div style="width:60%;float:left;margin-left:1%">
		  		<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">{{school.school_name}}</h3>
					</div>
					<div class="panel-body">
						<table class="table">
								<tr>
									<td>School_id</td><td>{{school.id}}</td>
								</tr>
								<tr>
									<td>Name</td><td>{{school.school_name}}</td>
								</tr>
								<tr>
									<td>Mandal</td><td>{{school.mandal.mandal_name}}</td>
								</tr>
								<tr>
									<td>Address</td><td>{{school.address}}</td>
								</tr>
						</table>
					</div>
				</div>
		  	</div>

		  	<div style="float:left;width:35%;margin-left:1%;">
		  		<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Notification</h3>
					</div>
					<div class="panel-body">
						<span class="glyphicon glyphicon-info-sign"></span> <span>New dashboard release</span></br></br>
						<span class="glyphicon glyphicon-exclamation-sign"></span> <span>Notification tit</span></br></br>
					</div>
				</div>
		  	</div>
	
	</div>
	<div id="Assets" class="tview" style="display:none;width:80%;margin-left:auto;margin-right:auto;">
		<!--<input type="button" class="btn" id="add_device" value="Add Device"></br><div id="new_device"></div> -->
			<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Assets in School</h3>
					</div>
					<div class="panel-body">
						<table class="table">
						{% for device in devices %}
							<tr>
								{% if device.status == "ok" %}
								<td><span class="glyphicon glyphicon-ok-sign"  style="color:#5CB85C"></span></td>
								{% else %}
								<td><span class="glyphicon glyphicon-remove-sign"  style="color:rgb(217, 83, 79)"></span></td>
								{% endif %}
								<td>{{device.id}}</td>
								<td>{{device.device_name}}</td>
								<td>{{device.school.mandal.mandal_name}}</td>
								<td>{{device.school.school_name}}</td>
							</tr>
						{% endfor %}
						</table>
					</div>
				</div>
		
	</div>

	<div id="Tickets" class="tview" style="display:none">
		<input type="button" class="btn" id="new_incident" value="Create"></br><div id="create_incident"></div>
		<div style="float:left;width:50%;">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Incidents</h3>
				</div>
				<div class="panel-body">
					{% for incident in allincidents %}
					<div class="media border" style="padding:3%;box-shadow:2px 3px 1px #A0A0A0;">
						  <div class="media-left">
						  <span class="glyphicon glyphicon-eye-open"></span>
						    <a href="#">
						      {{incident.device.device_name}}
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">{{incident.title}}</h4>
						    <p><span class="label label-warning">{{incident.status}}</span>
						  	{{incident.device.school.mandal.mandal_name}},
						  	{{incident.device.school.mandal.district_name}}
						  	</p>
						  	<span>{{incident.creater}}</span>
						  </div>
						</div>
						
					{% endfor %}
				</div>
			</div>
		</div>
		<div style="float:left;width:45%;margin-left:1%;">
		  		<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Resolved Tickets</h3>
					</div>
					<div class="panel-body">
						<table class="table">
						{% for incident in resolved_in %}
							<tr>
								<td  class="ticket_number">{{incident.id}}</td>
								<td>{{incident.status}}</td>
								<td>{{incident.device.device_name}}</td>
							</tr>
							<tr id="in{{incident.id}}" style="display:none;padding:2%" class="border">
									<td colspan=3>
										<div id="in{{incident.id}}_div">
											<p><strong>{{incident.title}}</strong></p>
											<p>{{incident.description}}</p>
										</div>
									</td>
								</tr>
						{% endfor %}
						</table>
					</div>
				</div>
		  	</div>
	</div>

</div>
{% endblock %}

{% block javascripts %} 
<script type="text/javascript">
$('.navs input').on('click',function(){
	$('.tview').hide();
	$('#'+this.value).toggle();
});

$('#add_device').click(function(){
	$.get('/add_device',function(data){
		$('#new_device').html(data)
	});
});

$('#new_incident').click(function(){
	$.get('/create_incident',function(data){
		$('#create_incident').html(data)
	});
});
$('.ticket_number').on('click',function(){
	$('#in'+this.innerHTML).toggle(1000);
});
</script>
{% endblock %}