{% if messages %}
	{% for message in messages %}
		{% if message.tags == "error" %}
			<div class="alert alert-danger">{{message}}</div>
		{% else %}
			<div class="alert alert-{{message.tags}}">{{message}}</div>
		{% endif %}
	{% endfor %}
{% endif %}
{% if login %}
	<h2>Teacher Login</h2>
	<form action="/teacher_login/" method="post" id="tlogin_form" >{% csrf_token %}
	<div style="width:50%;margin-left:auto;margin-right:auto">
	<table class="table">
		<tr>
			<td>UserName</td>
			<td><input id="username" name="username" type="text"></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input id="password" name="password" type="password"></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit" class="btn btn-info" id="teacher_login_submit" value="Login"> <input type="hidden" name="login" value="1"><!--<input id="teacher_register" type="button" class="btn btn-primary" value="Register"></td> -->
		</tr>
	</table>
	</div>
	</form>
	<script type="text/javascript">
	$('#tlogin_form').submit(function( event ) {
	  event.preventDefault();
	  $.ajax({
	  	url: "/teacher_login",
	  	method:'POST',
	  	data:$(this).serialize(),
	  	error:$('#load_view').html('Internal Error, Try Again'),
	  	success:function(data){
	  		$('#load_view').html(data);
	  	},
	  	complete:$('#load_view').html('loading...')
	});
	});

	$('#teacher_register').click(function(){
		$.get('/teacher_login?register=1',function(data){
	    	$('#load_view').html(data);
	    })
	});
	</script>
{% elif register %}
<h2>Teacher Register</h2>
<div style="width:50%;margin-left:auto;margin-right:auto">
<form action="/teacher_login" method="post" id="tregister_form">{% csrf_token %}
<table class="table">
{{form.as_table}}
<tr><td><input type="hidden" name="login" value="1"></td><td><input type="submit" class="btn btn-success" value="Register"></td></tr>
</table>
</form>
</div>
<script type="text/javascript">
$('#tregister_form').submit(function( event ) {
  event.preventDefault();
  $.ajax({
  	url: "/teacher_login",
  	method:'POST',
  	data:$(this).serialize(),
  	error:$('#load_view').html('Internal Error, Try Again'),
  	success:function(data){
  		$('#load_view').html(data);
  	},
  	complete:$('#load_view').html('Loading...')
});
});
</script>
{% elif logged_in %}
<script type="text/javascript">
window.location.href = "/teacher"
</script>
{% elif registered %}

<button class="btn" id="teachers">Login</button>

{% endif %}