{% if messages %}
	{% for message in messages %}
		{% if message.tags == "error" %}
			<div class="alert alert-danger">{{message}}</div>
		{% else %}
			<div class="alert alert-{{message.tags}}">{{message}}</div>
		{% endif %}
	{% endfor %}
{% endif %}

{% if form %}
<h2>{{loginas}} Login</h2>
<div style="width:50%;margin-left:auto;margin-right:auto">
<form id="technician_login_form" action="/technician_login" method="post">{% csrf_token %}
	<table class="table">
		{{form.as_table}}
		<tr>
			<td></td>
			<td><input type="submit" value="Login" class="btn"></td>
		</tr>
	</table>
</form>
</div>
{% endif %}
<script type="text/javascript">
$('#technician_login_form').submit(function( event ) {
	event.preventDefault();
	$.ajax({
		url: "/{{loginas}}_login",
		method:'POST',
		data:$(this).serialize(),
		error:$('#load_view').html('Internal Error, Try Again'),
		success:function(data){
			$('#load_view').html(data);
		},
		complete:$('#load_view').html('loading...')
	});
});
</script>
{% if logged_in %}
<script type="text/javascript">
{% if loginas == "admin" %}
window.location.href = "/{{loginas}}_view"
{% else %}
window.location.href = "/{{loginas}}"
{% endif %}
</script>
{% endif %}