{% extends "base.html" %}
{% block title %}Technician Dashboard {% endblock %}
{% block nav_right %}
<style type="text/css">
.ticket_number{
cursor:pointer;text-decoration:underline;
}
</style>
<ul class="nav navbar-nav pull-right">
	<li>
		<a>{{user}}</a>
	</li>
</ul>
{% endblock %}
{% block menu_block %}
<style type="text/css">
ul li a input{
	width:100%;
}
</style>
<div class="navs">
<ul class="nav">
<li><a><input type="button" class="btn" value="Dashboard"></a></li>
<li><a><input type="button" class="btn" value="Tickets"></a></li>
<li><a><input type="button" class="btn" value="Documents"></a></li>
<li><a><input type="button" class="btn" value="Assets"></a></li>
<li><a><input type="button" class="btn" value="Training"></a></li>
<li><a href="/logout/"><input type="button" class="btn" value="Logout"></a></li>
</url>
</div>

{% endblock %}

{% block content %}
{% csrf_token %}
<div id="load_view">
	<div id="Training" class="tview"  style="width:90%;margin-left:auto;margin-right:auto;display: none">
	<h2>Computers in School</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/prFHhIUr2yU" frameborder="0" allowfullscreen></iframe>
	<h2>Computer Basics</h2>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/oin9QoJb9WU" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="Documents" class="tview"  style="width:90%;margin-left:auto;margin-right:auto;display: none">
		<h2>Download Documents</h2>
		<div class="border" style="margin-top:5%;width:60%;margin-left:10%">
			<h4>DEPARTMENT OF SCHOOL EDUCATION, ANDHRA PRADESH ...</h4>
			<a href='http://rmsaap.nic.in/Notification_TSG_2015.pdf' target='_blank'> Download</a>
		</div>
		<div class="border" style="margin-top:5%;width:60%;margin-left:10%">
			<h4>GOVERNMENT OF ANDHRA PRADESH DEPARTMENT OF SCHOOL ..</h4>
			<a href='http://mhrd.gov.in/sites/upload_files/mhrd/files/minutes/AP-Annexure-1%20.pdf'> Download</a>
		</div>
	</div>
	<div id="Dashboard" class="tview"  style="width:90%;margin-left:auto;margin-right:auto;">
	<h2>Dashboard</h2>
		<div class="panel panel-info"  style="width:80%;">
					<div class="panel-heading">
						<h3 class="panel-title">Schools in District</h3>
					</div>
					<div class="panel-body">
						<table class="table">
						{% for school in schools %}
							<tr>
								<td>{{school.id}}</td>
								<td>{{school.school_name}}</td>
								<td>{{school.mandal.mandal_name}}</td>
								<td>{{school.pincode}}</td>
							</tr>
						{% endfor %}
						</table>
					</div>
			</div>
	</div>
	<div id="Assets" class="tview" style="display:none">
			<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Assets in Your District</h3>
					</div>
					<div class="panel-body">
						<table class="table">
						{% for device in devices %}
							<tr>
								{% if device.status == "ok" %}
								<td><span class="glyphicon glyphicon-ok-sign"  style="color:#5CB85C"></span></td>
								{% else %}
								<td><span class="glyphicon glyphicon-remove-sign"  style="color:rgb(217, 83, 79)"></span></td>
								{% endif %}
								<td>{{device.id}}</td>
								<td>{{device.device_name}}</td>
								<td>{{device.school.mandal.mandal_name}}</td>
								<td>{{device.school.school_name}}</td>
							</tr>
						{% endfor %}
						</table>
					</div>
			</div>
	</div>

	<div id="Tickets" class="tview" style="display:none">

		<div class="ticket-row" style="padding:1%">
			<h2>Tickets OverView</h2>
		  	<div style="width:60%;float:left">
		  		<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Open Tickets</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<thead>
								<tr>
									<th>TicketNo</th>
									<th>Title</th>
									<th>Mandal</th>
								</tr>
							</thead>
							<tbody>
								{% for incident in open_inc %}
								<tr>
									<td class="ticket_number">{{incident.id}}</td>
									<td>{{incident.title}}</td>
									<td>{{incident.device.school.mandal.mandal_name}}</td>
									<td>{{incident.creater}}</td>
								</tr>
								<tr id="in{{incident.id}}" style="display:none;padding:2%" class="border">
									<td colspan=3>
										<div id="in{{incident.id}}_div">
											<p><strong>{{incident.device.device_name}}</strong></p>
											<p>{{incident.description}}</p>
											<p><input class="assignme btn" data="{{incident.id}}" type="submit" value="AssignToMe"></p>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
		  	</div>

		  	<div style="float:left;width:35%;margin-left:1%;">
		  		<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">Your Tickets</h3>
					</div>
					<div class="panel-body">
						<table class="table">
						{% for incident in my_inc %}
							<tr>
								<td>{{incident.id}}</td>
								<td>{{incident.status}}</td>
							</tr>
						{% endfor %}
						</table>
					</div>
				</div>
		  	</div>
	<!--	  	<div style="width:60%;float:left">
		  		<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">All Tickets</h3>
					</div>
					<div class="panel-body">
					</div>
				</div>
  			</div></br> -->
	</div>

</div>
{% endblock %}

{% block javascripts %} 
<script type="text/javascript">
$('.navs input').on('click',function(){
	$('.tview').hide();
	$('#'+this.value).toggle();
});
$('.ticket_number').on('click',function(){
	$('#in'+this.innerHTML).toggle(1000);
});
$('.assignme').click(function( event ) {
	var incident_id = $(this).attr('data');
	$.ajax({
		url: "/technician_view",
		method:'POST',
		data:{csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,"incident_id":incident_id},
		success:function(data){
			$("#in"+incident_id+"_div").html(data);
			window.location.href="/technician"
		},
		
	});
});
</script>
{% endblock %}